@model DNP.Models.Shopping.MainClassViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--shop  area start-->
<div class="shop_area shop_reverse mt-0 mb-2">
    <div class="container-fluid">
        <div class="row">


            <div class="col-lg-2 col-md-12 p-0">
                <!--sidebar widget start-->
                <aside class="d-none d-lg-block ">
                    <ul class="list-tab list-inline">
                        <li class="list-inline-item"><img src="~/assets/img/interface.png" alt="" /></li>
                        <li class="list-inline-item"><img src="~/assets/img/ab-sorting.png" alt="" /></li>
                    </ul>


                    <nav class="sidebar-nav">
                        @Html.Action("SideMenu")
                    </nav>
                </aside>
                <!--sidebar widget end-->

                <div class="product_d_right media-box mt-3">
                    <div class=" medi-text">
                        <h6>TME NEWSLETTER</h6>
                    </div>
                    <div class="media-desc">
                        <p>Information about events, promotions and new products straight to Your mailbox.</p>
                        <div>
                            <button type="button" class="btn btn-danger btn-sm">Subscribe </button>
                        </div>
                    </div>

                </div>

                <div class="product_d_right media-box mt-3">
                    <div class=" medi-text">
                        <h6>OUR COMPANY</h6>
                    </div>
                    <div class="media-desc">
                        <p>TME has over <strong>800 employees</strong>, who provide expert support at each stage of the ordering process.</p>
                        <p>Our offer includes <strong>350,000 electronic components</strong> from <strong>950 producers</strong>.</p>
                        <p><strong>Since 1990,</strong> we have been expanding our operations dynamically and increasing our global potential. Every day, we send <strong>5000 shipments</strong> and we ensure that they arrive in the shortest time available.</p>
                    </div>

                </div>


                <div class="product_d_right media-box mt-3">
                    <div class=" medi-text">
                        <h6>Join Now</h6>
                    </div>
                    <div class="priduct_social">
                        <ul>
                            <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> </a></li>
                            <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> </a></li>
                            <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> </a></li>
                            <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-lg-10 col-md-12">


                <!--breadcrumbs area start-->
                @*<div class="breadcrumbs_area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="breadcrumb_content">
                                    <ul>
                                        <li><a href="index.html">home</a></li>
                                        <li>Camera & Video </li>
                                        <li>shop</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
                <!--breadcrumbs area end-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-page-title">
                            @if (Model.Data.CategoryTree != null)
                            {
                            <h3>@Model.Data.CategoryTree.Name</h3>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model.Data.CategoryTree != null)
                    {
                        @Html.Action("SideMenuItem", new { id = Model.Data.CategoryTree.Id })
                    }
                    </div>
                <!--product info start-->
                <div class="product_d_info">
                    @*<div class="row">
                            <div class="col-12">
                                <div class="product_d_inner">
                                    <div class="product_info_button">
                                        <ul class="nav" role="tablist">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Specification</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Technical Information</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Multimedia</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content pb-0">
                                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                                            <div class="product_d_table pb-0">
                                                <form action="#">
                                                    <table class="table table-striped table-spec">

                                                        <tbody>
                                                            <tr>
                                                                <td colspan="3" style="text-align: right;">
                                                                    <button type="button" class="btn btn-danger btn-sm">
                                                                        Show similar products

                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Manufacturer
                                                                    </label>
                                                                </td>
                                                                <td class="col-md-6">
                                                                    SIBA
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Type of fuse
                                                                    </label>
                                                                </td>
                                                                <td class="col-md-6">
                                                                    fuse
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Fuse characteristics
                                                                    </label>
                                                                </td>
                                                                <td class="col-md-6">
                                                                    medium time-lag
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Breaking capacity
                                                                    </label>
                                                                </td>
                                                                <td class="col-md-6">
                                                                    35A
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Current rating
                                                                    </label>
                                                                </td>
                                                                <td class="col-md-6">
                                                                    1A
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Rated voltage
                                                                    </label>

                                                                </td>
                                                                <td class="col-md-6">
                                                                    250V AC
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr class="odd">
                                                                <td class="col-md-4">
                                                                    <label>
                                                                        Kind of fuse
                                                                    </label>
                                                                </td>
                                                                <td class="col-md-6">
                                                                    miniature
                                                                </td>
                                                                <td>
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox" value="">
                                                                    </label>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="sheet" role="tabpanel">

                                            <div class="product_info_content">
                                                <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                                            <div class="product_info_content">
                                                <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
                <!-- Nav pills -->
                @*<ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#tab">All found (@Model.Data.CategoryTree.TotalProducts)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab1"> Show new products only (686)</a>
                    </li>
                </ul>*@
                <!--product info end-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="product-page-title">
                            @*<h3>Related products - 165000.1</h3>*@
                            <h3>Related products - @*@Model.Data.CategoryTree.Id*@</h3>
                        </div>
                    </div>
                </div>
                
                <div class="row no-gutters shop_wrapper grid_list">
                    @if (Model.Data != null)
                    {
                        foreach (var item in Model.Data.ProductList)
                        {
                            <div class="col-12 col-sm-6 col-md-12">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="#"><img src="@item.Thumbnail" alt=""></a>
                                        <label style="display:none" id="lblSymbol">@item.Symbol</label>
                                        @*<div class="quick_button">
                                                <a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="zmdi zmdi-eye"></i></a>
                                            </div>*@

                                    </div>

                                    <div class="product_content list_content">
                                        <div class="product_name">
                                            <h3><a href="/Shopping/ProductDetails/@item.Symbol">@item.Symbol</a></h3>
                                        </div>
                                        <div class="product_desc">
                                            <p>@item.Description</p>
                                        </div>
                                        <div class="product_file">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#"> INFO </a></li>|
                                                <li class="list-inline-item"><a href="#">  PDF</a></li>
                                            </ul>
                                        </div>

                                        <div class="product_manufacturer">
                                            <p>Manufacturer: <a href="#">  @item.Producer</a></p>
                                        </div>
                                        <div class="product_manuf_part">
                                            <p>Manufacturer part number: <a href="#"> @item.Symbol</a></p>
                                        </div>


                                        <div class=" btn-section">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#" class="btn btn-gray btn-sm"><i class="fa fa-heart-o" aria-hidden="true"></i> Set e-mail notification</a></li>
                                                <li class="list-inline-item"><a class="btn btn-gray btn-sm" onclick="setCartData('@item.Symbol');"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>
                                                <li class="list-inline-item"><a href="#" class="btn btn-gray btn-sm"><i class="zmdi zmdi-swap"></i> Add to compare</a></li>
                                                <li class="list-inline-item"><a href="#" class="btn btn-gray btn-sm"><i class="zmdi zmdi-swap"></i> Group</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="product_content grid_content w-15 w-md-20 w-sm-22">
                                        <div class="product_table">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Quantity [pcs]  </th>
                                                        <th>Net price [USD/pcs]:</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*@foreach (var priceList in item.PriceList)
                                                    {
                                                        <tr>
                                                            <td>@priceList.Amount </td>
                                                            <td>@priceList.PriceValue</td>
                                                        </tr>
                                                    }*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="product_content grid_content w-10 w-md-17 w-lg-12 w-sm-20">
                                        <div class="product_file">
                                            <p>Multiplicity: : <span>  @item.Multiples</span></p>
                                            <p>Min. amount: : <span id="minAmount_@item.Symbol">  @item.MinAmount</span></p>
                                        </div>
                                        <div class="product_variant quantity">
                                            @*<input min="1" max="100" value="1" type="number" id='txtNumOfProduct_@item.Symbol'>*@
                                            <input max="100" value="@item.MinAmount" type="number" id='txtNumOfProduct_@item.Symbol'>
                                        </div>
                                    </div>
                                    <div class="product_content grid_content w-15 w-md-20 w-sm-22">


                                        <div class="price_box">
                                            <p> in stock [pcs] <span class="current_price">65</span> </p>
                                        </div>
                                        <div class="product_del">
                                            <h6><a href="#">Deliveries to the warehouse</a></h6>
                                        </div>

                                        <div class="">
                                            <ul class="list-inline">

                                                <li class="list-inline-item"><a onclick="setCartData('@item.Symbol');" class="btn btn-danger btn-md order-btn"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                            </ul>
                                        </div>
                                        <div class="label_product">
                                            <span class="label_sale label_warning">
                                                @foreach (var productStatus in item.ProductStatusList)
                                                {
                                                    @productStatus;
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="shop_toolbar t_bottom">
                    <div id="page-selection" class="pagination">

                    </div>
                </div>




            </div>

        </div>
    </div>
</div>
<!--shop  area end-->
